* {
	box-sizing: border-box;
}

:root {
	--color1: #2173c2; /*темно-синий*/
	--color2: #efecd7; /*бледно-желтый*/
	--color3: #4db4f8; /*светло-синий*/
	--color4: #fff;    /*белый*/
	--error-color: #f00;
}

.phone-book {
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	max-width: 850px;
	margin: 20px 24px;
}

.add-contact-form {
	width: 300px;
	padding: 24px;
	margin: 24px 0;
	background-color: var(--color2);
}

.add-contact-form h1 {
	font-weight: 300;
	font-size: 24px;
	margin: 0;
}

.add-contact-form .record {
	margin: 10px 0;
	line-height: 26px;
}

.phone-book input[type="text"] {
	padding: 5px;
}

.add-contact-form input[type="text"] {
	width: 100%;
}

.phone-book button {
	
	padding: 7px;
	background-color: var(--color1);
	border: 1px solid var(--color3);
	color: var(--color4);
	font-weight: bold;
}

.add-contact-form button {
	display: block;
	margin: 24px 0 1px auto;
}

.phone-book button:hover {
	background-color: var(--color3);
}

.add-contact-form .record-edit-button,
.record-remove-button {
	margin-left: 5px;
}

.add-contact-form .invalid {
	border-color: var(--error-color);
}

.add-contact-form .invalid::placeholder {
	color: var(--error-color);
}

.phone-book .contacts-table {
	margin: 20px 0;
	width: 100%;
	border-collapse: collapse;
}

.phone-book .contacts-table thead {
	margin: 20px 24px;
	width: 100%;
	background-color: var(--color1);
	color: var(--color4);
	font-weight: bold;
}

.phone-book .contacts-table th, td {
	padding: 7px 10px;
}

.phone-book .contacts-table th {
	border: 1px solid var(--color3);
}

.phone-book .contacts-table td {
	
	border: 1px solid var(--color3);
}

.phone-book .contacts-table td.center {
	text-align: center;
	width: 65px;
}

.phone-book .tools {
	display: inline-block;
	word-spacing: 3px;
}

.phone-book .delete-selected-contacts-button {
	display: block;
	float:left;
	margin-right: 90px;
}

.phone-book .tools input[type="text"] {
	width: 400px;
}