* {
	box-sizing: border-box;
}

.todo-form {
	width: 550px;
	margin: 16px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #333;
}

.todo-form div,
.todo-form button {
	display: inline-block;
	vertical-align: top;
}

.todo-form li button {
	text-align: right;
}

.todo-form .list-item-string,
.todo-form .edit-task-field {
	text-align: left;
}

.todo-form h1 {
	font-weight: 300;
}

.todo-form .add-task-button {
	margin-left: 5px;
	padding: 5px;
	background-color: #75c3f7;
	border: 1px solid #808080;
	cursor: pointer;
}

.todo-form .add-task-button:hover {
	background-color: #4db4f8;
}

.todo-form .todo-list{
	width: 100%;
	list-style-type: none;
	padding: 0;
}

.todo-form .todo-list li {
	padding: 0 0 12px;
}

.todo-form .add-task-field,
.todo-form .list-item-string,
.todo-form .edit-task-field {
	width: 300px;
	padding: 5px;
}

.todo-form .todo-list button {
	margin-left: 5px;
	padding: 5px;
	cursor: pointer;
}

.todo-form .invalid {
	border-color: #f00;
}

.todo-form .error-message {
	font-size: 12px;
	font-weight: normal;
	display: none;
	color: #f00;
}

.todo-form .invalid + .error-message {
	display: block;
}