* {
	box-sizing: border-box;
}

body {
	/*background-image: url("CSS_Text.jpg"); /*test*/
	/*opacity: 0.5; /*test*/
	
}

.container {
	max-width: 750px;
	font-family: Arial, "Noto Sans", sans-serif;
	font-weight: normal;
	color: #746353;
	background-color: #FEEED5;
	padding: 10px 14px 5px;
	margin: 0;
}

.header {
	font-size: 27px;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0 0 14px;
}

.annotation-text p {
	font-size: 17px;
	margin: 9px 0 0;
}

.basic-text p {
	font-size: 15px;
	line-height: 22px;	
	text-align: justify;
	text-indent: 15px;
	margin: 9px 0 9px;
}

.highlighted {
	color: #478B9E;
	font-weight: bold;
}

.crossed-out {
	text-decoration: line-through;
}