* {
	box-sizing: border-box;
}

body {
	background-image: url("CSS_Table.jpg"); /*test*/
	opacity: 1; /*test*/
}

.container {
	max-width: 860px;
}

.table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	font-family: Calibri, Arial, "Noto Sans", sans-serif;
	font-size: 24px;
}

.table th {
	font-weight: normal;
	color: #FFF;
	background-color: #3598DB;
	border: 1px solid #AFD7F0;
	padding: 12px 10px 8px;
}

.table td {
	border: 1px solid #CECECE;
	padding: 12px;
}

.table tr:nth-child(odd) {
	background-color: #EEE;
}

.table tr:nth-child(even) {
	background-color: #FFF;
}

.table .first-name {
	width: 20.5%;
}

.table .last-name {
	width: 20.2%;
}

.table .job-title {
	width: 36%;
}