* {
	box-sizing: border-box;
}

body {	
	/*background-image: url("CSS_Form.jpg"); /*test*/
	/*opacity: 0.5; /*test*/
}

.container {
	max-width: 741px;
}

form.form {
	width: 100%;
	color: #6C655B;
	background-color: #FEEED5;
	padding: 12px 21px;
	font-family: Arial;
	font-size: 14px;
	text-align: left;
}

form.form h1 {
	font-size: 28px;
	font-weight: normal;
	background-color: #FFFFFF;
	padding: 30px 21px 5px;
	margin: -21px -21px 0;
}

form.form h2 {
	font-size: 14px;
	font-weight: bold;
	margin-top: 17px;
	margin-bottom: 7px;
	padding: 0;
}

form.form textarea, input {
	width: 100%;
	border: none;
	padding-left: 12px;
}

form.form input {
	padding-top: 9px;
	padding-bottom: 9px;
}

form.form textarea {
	padding-top: 8px;
	padding-bottom: 0px;
	height:110px;
}

form.form div {
	margin-top: 15px;
	margin-bottom: 12px;
}

form.form .button {
	color: #FFFFFF;
	font-weight: bold;
	background-color: #388DB2;
	border: none;
	padding: 8px 12px;
	cursor: pointer;
	display: block;
	margin-right: 0px;
	margin-left: auto;
}