* {
	box-sizing: border-box;
}

body {
	/*background-image: url("CSS_Form.jpg"); /*test*/
	/*opacity: 0.6; /*test*/
}

.container {
	max-width: 741px;
}

.form {
	width: 100%;
	color: #6C655B;
	font-family: Arial, Noto Sans, sans-serif;
	font-size: 14px;
	text-align: left;
}

.form-contain {
	background-color: #FEEED5;
	padding: 2px 21px 9px;
}

.form-header {
	font-size: 28px;
	font-weight: normal;
	letter-spacing: 1px;
	background-color: #FFF;
	padding: 21px 21px 5px;
}

.form-contain .field-name {
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin: 15px 0 8px;
}

.form-contain textarea,
input[type="text"] {
	width: 100%;
	border: none;
	padding: 9px 12px;
}

.form-contain textarea {
	height: 110px;
	resize: vertical;
	min-height: 110px;
}

.form-contain .info {
	margin: 14px 0;
}

.form-contain .button {
	color: #FFF;
	font-weight: bold;
	background-color: #388DB2;
	border: none;
	padding: 8px 12px;
	cursor: pointer;
	display: block;
	margin-right: 0;
	margin-left: auto;
}

.form-contain .button:hover {
	background-color: #257A90;
}